name: Mirror GitHub to Gitee

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror the Github organization repos to Gitee
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/mgskkk/wj
          dst: gitee/louie/wj
          dst_key: $[[ secrets.GITEE_PRIVATE_KEY ]]
          dst_token: $[[ secrets.GITEE_TOKEN ]]
          account_type: user
